<p-toast></p-toast>
<main class="main">
  <div class="container">
    <section class="wrapper">
      <div class="heading">
        <img
          src="assets/imgs/contellect.png"
          alt="Logo"
          class="logo"
          width="auto"
          height="50"
        />
        <p class="head-text">Sign In</p>
      </div>
      <form
        name="signin"
        class="form"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <div class="input-control">
          <label for="username" class="input-label" hidden>Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="input-field"
            placeholder="Username"
            formControlName="username"
            [ngClass]="{
              'input-field-error':
                loginForm.get('username')?.invalid &&
                (loginForm.get('username')?.touched ||
                  loginForm.get('username')?.dirty)
            }"
          />
        </div>
        <div class="input-control">
          <label for="password" class="input-label" hidden>Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="input-field"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{
              'input-field-error':
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.touched ||
                  loginForm.get('password')?.dirty)
            }"
          />
        </div>
        <div class="input-control">
          <input
            type="submit"
            name="submit"
            class="input-submit"
            value="Sign In"
          />
        </div>
      </form>
    </section>
  </div>
</main>
